html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body {
  margin: 30px;
}

h1, h2, h3, h4, h5 {
  font-variant: small-caps;
  font-weight: 400;
  margin: 0.25em 0 0.25em;
  padding: 0;
}

label {
  font-variant: small-caps;
}

.control {
  margin-bottom: 1em;
  &.colors label {
    display: inline-block;
    min-width: 40px;
  }
}

.option {
  margin-bottom: 0.15em;
}

.gradient .preview {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.editor {
  overflow: auto;
  .gradient {
    float: right;
    .preview {
      height: 400px;
      width: 400px;
    }
    pre {
      font-size: 10px;
      text-align: center;
    }
  }
}

.recent {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  .gradient {
    display: inline-block;
    .preview {
      height: 80px;
      width: 80px;
    }
  }
}
